/* Coolors Exported Palette - coolors.co/b93970-aaafad-f2f2f2-af044f-fcda7e */

/* HSL */
$color1: hsla(334%, 53%, 47%, 1);
$color2: hsla(156%, 3%, 68%, 1);
$color3: hsla(0%, 0%, 95%, 1);
$color4: hsla(334%, 96%, 35%, 1);
$color5: hsla(44%, 95%, 74%, 1);

/* RGB */
$color1: rgba(185, 57, 112, 1);
$color2: rgba(170, 175, 173, 1);
$color3: rgba(242, 242, 242, 1);
$color4: rgba(175, 4, 79, 1);
$color5: rgba(252, 218, 126, 1);